@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#1A3A3A;
    --secondary-color:#FBFAF8;
    --accent1-color:#F2F4F3;
    --heading-font:'Playwrite+ES+Deco',serif;
    --paragraph-font: 'Open+Sans', sans serif;

    --nav-background-color: #FF495C;
    --nav-link-color: #CFDEE7;

    --nav-hover-background-color: #18020C;
    --nav-hover-link-color: #92B4F4;
}
header{
    display: flex;
    background: var(--nav-hover-background-color);
    color: var(--primary-colora);
    padding: 20px;
    background-color: var(--nav-background-color);
    display: flex;
    padding: 10PX 0 10PX 30px;
    justify-content: space-between;
}
body{
    font-family: var(--paragraph-font);
    /* max-width: 960px; */
    padding: 20px;
    
}
:root{
    --primary-color:#1A3A3A;
    --secondary-color:#FBFAF8;
    --accent1-color:#F2F4F3;
    --heading-font:'Playwrite+ES+Deco',serif;
    --paragraph-font: 'Open+Sans', sans serif;

    --nav-background-color: #bcbcbc;
    --nav-link-color: #CFDEE7;

    --nav-hover-background-color: #18020C;
    --nav-hover-link-color: #92B4F4;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--paragraph-font);
    color: var(--primary-color)
}

p{
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0 20px 0 0;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    border: 1px solid black;
    margin: 0 0 0 3px;
}

nav a:link, nav a:visited{
   color: var(--secondry-color)
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background: var(--nav-hover-background-color);
}
.section1{
    border: 1px solid black;
    padding: 20px;
    margin: 10px;
}
.section1 h2{
    text-align: center;
}
h2 .overview{
    position: absolute;
}
.overview{
    border: 1px solid black;
    border-radius: 5%;
    display: flex;
}
.overview img{
    padding: 15px 15px 0 0;
}
.section2{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;

}
.section2 h2{
    text-align: center;
}
.section2 .part2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.section2 p {
    margin: 0%;
    padding: 0%;
}
.section3{
    border: 1px solid black;
}
.section3 h2{
    text-align: center;
}
.section3 h3{
    margin: 3px;
}
.section3 .sect2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 0 0 20px;
}
.section3 .sect2 img{
    width: 100px;
    height: 100px;
}

footer{
    background: var(--nav-hover-link-color);
    height: 30px
}
.footer1 .social img{
    width: 30px;
    height: 30px;
}
.social{
    float: right;
}
.footer1 p{
    text-align: center;
}
button{
    background: rgb(235, 174, 174);
    width: 100px;
    height: 30px;
    border-radius: 20%;
}
button:checked{
    background: #bcbcbc;
}
.p{
    margin: 0%;
    padding: 0%;
}

