*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside{
    width:auto;
    margin: 10px;
    border: 1px solid rgb(255, 251, 251);
    background: #e9d8d8;
    color: hsla(200,0%,0%,.7);
}
aside img{
    width: 200px;
}
main img{
    width: 150px;
}
p{ padding: 0;}
footer{
    margin-top: 100px;
    border-top: 1px solid saddlebrown;
    text-align: center;
}

main{
    max-width: 840px;
}

nav{
    background-color: var(--nav-background-color);
    display: flex;
    font-size: 1.2rem;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0,0,0,.1);
    padding: 1rem;
    color: #000;
}
aside{ 
    width: 20em;
    text-align: center;
    position: relative;
}
aside h2{
    position: absolute;
    top: 50px;
    left: 110px;
}
main img{
    float: right;
}
